.cadrecentre {
  position: relative;
  top: 50%;
  height: 100%;
  width: 77%;
  margin: 20px auto;
  padding-top: 10px;
  text-align: center;
  border: 3px solid orange;
  border-radius: 7px;
  vertical-align: middle;
}

.cadrecentre i, .cadrecentre span {
  vertical-align: middle;
}