body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    font-size: 1.5em;
    font-family: Trebuchet MS;
}

.siteName {
    font-size: 1.7em;
    color: red;
    padding-top: 10px;
}

p {
    text-align: justify;
}
